<div class="pt2">
  <a href="http://github.com/ravikt" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-github.html %}</a>
  <a href="https://www.linkedin.com/in/ravikumarthakur/" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-linkedin.html %}</a>
  <a href="https://stackoverflow.com/users/2993180/ravikt?tab=profile" class="icon-link inline-block text-decoration-none mr1" target="_blank">{% include icons/icon-stackoverflow.html %}</a>
</div>
